<section id="location" class="feature">
    <div class="row" data-bottom="transform:translateY(-10em)" data--100-bottom="transform:translateY(0em)">
        <h2>Location</h2>
    </div>

    <div class="row">
        <div class="large-4 columns address" data--100-bottom-top="transform:translateX(-100%)" data--100-bottom="transform:translateX(0)">
            <p>
                <span>ThoughtWorks Uganda</span>
                <span>UAP Nakawa Business Park, Block B,6th Floor.</span>
                <span>Plot 3-5 PortBell Road</span>
                <span>Nakawa, Kampala</span>
                <span><small><a href="http://bit.ly/1oZO0eW" target="_blank" rel="nofollow">&laquo; Open in Google Maps &raquo;</a></small></span>
            </p>
        </div>

        <div class="large-8 columns map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m27!1m12!1m3!1d1185.6976741236538!2d32.61283260477877!3d0.3273260947204748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m12!1i0!3e6!4m5!1s0x177dbbe93abb9c53%3A0xf300b29587b46dfe!2sNakawa+Business+Park%2C+Kampala+Rd%2C+Kampala%2C+Uganda!3m2!1d0.328009!2d32.612731!4m3!3m2!1d0.3277384!2d32.6128141!5e1!3m2!1sen!2s!4v1407822903916" width="600" height="450" frameborder="0" style="border:0"></iframe>
        </div>
    </div>
</section>